<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
 {% include 'nav.html'%}
    <form method="POST">
        {{ form.csrf_token }}
        {{ form.sitename }}
        {{ form.aggrname }}
        <input type="submit">
    </form>
    <script>
        let sitename_select = document.getElementById('sitename');
        let aggrname_select = document.getElementById('aggrname');

        sitename_select.onchange = function(){
            sitename = sitename_select.value;
            var clid = sitename
            fetch('/api/' + clid).then(function(response){
                response.json().then(function(data){
                    //console.log(data);
                    let optionHTML = ' ';

                    for (let obj of data){
                        console.log(obj.aggr_name);
                        //optionHTML += '<option value="' + data.Cluster_id + '">' + data.aggr_name + '</option>';
                    }
                   // aggrname_select.innerHTML = optionHTML;
                });
            });
        }


    </script>
  
</body>
</html>